In [17]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
import pandas as pd

# leer el archivo excel
df = pd.read_excel('Curso1.xlsx')

# mostrar las primeras filas
df.head(10)

                                           OPINIONES
0               Reyna María del Carmen Ledezma Uribe
1                          Curso de Higiene de Manos
2  Esta muy completo, con profesionales muy capac...
3                             Victor Toxqui Tlachino
4                                   Higiene de manos
5  Excelente curso impartido para los profesional...
6                            MARISOL ESQUIVEL OROZCO
7                             Curso higiene de manos
8  Gracias por contribuir a seguir actualizandono...
9                         Florentina Pacheco Bernal

In [19]:
# get the indices of the dataframe
indices = df.index

# initialize the counter
counter = 0

# loop through the indices and replace the names at every multiple of 3
for i in indices:
    if i % 3 == 0:
        df.iloc[i, 0] = 'Nombre persona ' + str(counter)
        counter += 1

In [20]:
df.to_excel('Curso12.xlsx', index=False)